
.login{
  padding: 7.1rem 7.7rem 7rem 6.4rem;
  background-color: #F5F6EE;  
}

.login .login-card {
  display: flex;
  justify-content: space-between;
  padding: 6.2rem 9.7rem;
  background-color: white;
}

.divider{
  height: 46.5rem;
  width: 1px;
  margin: 0 6.4rem;
  background-color: #DEE2E6;
  /* border: 1px solid #DEE2E6; */
}